<!-- Main CSS Stylesheet -->
<link rel="stylesheet" type="text/css" href="css/style-product.css">
<!-- Google Web Fonts  -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
<!-- CSS other template
================================================== -->
<!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
<!-- Grid Component css -->
    <link rel="stylesheet" href="css/component.css">
<!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main-product.css">
<!-- Media Queries -->
    <link rel="stylesheet" href="css/media-queries.css">

<!--Google Font=========================== -->
<!-- Oswald / Title Font -->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
<!-- Ubuntu / Body Font -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

<style media="screen">
  body {
    position: relative;
    height: 100%;
    background: url(../images/bg/chemical_banner1.jpg);
    background-size: cover;
    z-index: 1;
  }
</style>
<div class="container">
  <section id="showcase">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <!-- section title -->
          <div class="title text-center">
            <h2>Our <span class="color">Products</span></h2>
            <div class="border"></div>
          </div>
          <!-- /section title -->

          <!-- portfolio item filtering -->
          <div class="portfolio-filter clearfix">
            <ul class="text-center">
                <li><a href="javascript:void(0)" class="filter" data-filter="all">All Valves</a></li>
              <li><a href="javascript:void(0)" class="filter" data-filter=".app">Gate/Globe Valves</a></li>
              <li><a href="javascript:void(0)" class="filter" data-filter=".web">Butterfly/Ball valves</a></li>
              <li><a href="javascript:void(0)" class="filter" data-filter=".photoshop">Bellow-seal Valves</a></li>
              <li><a href="javascript:void(0)" class="filter" data-filter=".illustrator">Knife-Gate Valves</a></li>
            </ul>
          </div>
          <!-- /portfolio item filtering -->

        </div> <!-- /end col-lg-12 -->
      </div> <!-- end row -->
    </div>	<!-- end container -->

    <!-- portfolio items -->
    <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
              <ul id="og-grid" class="og-grid">

        <!-- single portfolio item -->
        <li class="mix app">
          <a href="product-pdf/Gate_Valves.pdf" data-largesrc="images/products/gate-valves.jpg" data-title="Gate Valves" data-description="Gate valves are of rising stem.">
            <img src="images/products/gate-valves.jpg" alt="Gate valves">
            <div class="hover-mask">
              <h3>Gate Valves</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <li class="mix web">
          <a href="javascript:void(0)" data-largesrc="images/products/butterfly-valve.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/products/butterfly-valve.jpg" alt="Butterfly Valves">
            <div class="hover-mask">
              <h3>Butterfly Valves</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <li class="mix photoshop">
          <a href="javascript:void(0)" data-largesrc="images/products/bellow-seal.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
            <img src="images/products/bellow-seal.jpg" alt="Below Seal valves">
            <div class="hover-mask">
              <h3>Bellow Seal Valves</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <li class="mix illustrator">
          <a href="javascript:void(0)" data-largesrc="images/products/knife-gate.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
            <img src="images/products/knife-gate.jpg" alt="Knife-gate valves">
            <div class="hover-mask">
              <h3>Knife-Gate Valves1.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix app">
          <a href="javascript:void(0)" data-largesrc="images/products/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Globe Valve1.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix app">
          <a href="javascript:void(0)" data-largesrc="images/products/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Gate Valves2.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix web">
          <a href="javascript:void(0)" data-largesrc="images/products/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Ball Valves1.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix photoshop">
          <a href="javascript:void(0)" data-largesrc="images/products/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Non-return Valves1.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix photoshop">
          <a href="javascript:void(0)" data-largesrc="images/products/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Water-Check Valves2.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

        <!-- single portfolio item -->

        <li class="mix illustrator">
          <a href="javascript:void(0)" data-largesrc="images/products/knife-valve2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/products/knife-valve2.jpg" alt="Knife-gate valves 2.0">
            <div class="hover-mask">
              <h3>Knife-Gate Valves2.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <li class="mix web">
          <a href="javascript:void(0)" data-largesrc="images/products/Lug-style-Butterfly-Valve.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
            <img src="images/products/Lug-style-Butterfly-Valve.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Butterfly Valves2.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li>
        <!-- /single portfolio item -->

        <!-- single portfolio item -->
        <!-- <li class="mix app">
          <a href="javascript:void(0)" data-lar gesrc="images/products/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
            <img src="images/products/portx1.jpg" alt="Meghna">
            <div class="hover-mask">
              <h3>Globe Valves2.0</h3>
              <span>
                <i class="fa fa-plus fa-2x"></i>
              </span>
            </div>
          </a>
        </li> -->
        <!-- /single portfolio item -->

      </ul> <!-- end og grid -->
    </div>  <!-- portfolio items wrapper -->

  </section>

</div>
<!-- Modernizer Script for old Browsers -->
<script src="js/modernizr-2.6.2.min.js"></script>
<!-- Main Javascript File  -->
<script type="text/javascript" src="js/scripts.js"></script>
<!-- Custom Scrollbar -->
<script src="js/jquery.nicescroll.min.js"></script>
<!-- Grid js -->
<script src="js/grid.js"></script>
<!-- Custom js -->
<script src="js/custom-product.js"></script>
